version: '3.8'

services:
  openhab:
    image: openhab/openhab:4.1.1
    container_name: openhab
    ports:
      - ${OPENHAB_HTTP_PORT}:${OPENHAB_HTTP_PORT}
      - ${OPENHAB_HTTPS_PORT}:${OPENHAB_HTTPS_PORT}
      - ${OPENHAB_CONSOLE_PORT}:${OPENHAB_CONSOLE_PORT}
    depends_on:
      - influxdb
    restart: always
    privileged: true
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - data_openhab_conf:/openhab/conf
      - data_openhab_addons:/openhab/addons
      - data_openhab_userdata:/openhab/userdata
      - ./configs/openhab_addons.cfg:/openhab/conf/services/addons.cfg
      - ./configs/org.openhab.binding.zwave-3.4.2_MODIFIED.jar:/openhab/org.openhab.binding.zwave-3.4.2_MODIFIED.jar
      - ./configs/influxdb.persist:/openhab/conf/persistence/influxdb.persist
      - ./configs/users.json:/openhab/userdata/jsondb/users.json
      - ./openhab_services:/openhab/conf/services
    environment:
      TZ: ${TZ}
      OPENHAB_HTTP_PORT: ${OPENHAB_HTTP_PORT}
      OPENHAB_HTTPS_PORT: ${OPENHAB_HTTPS_PORT}
      CRYPTO_POLICY: "unlimited"
#      EXTRA_JAVA_OPTS: "-Duser.timezone=${TZ}"
      USER_ID: 999
      GROUP_ID: 994
      LANG: en_US.UTF-8
      LANGUAGE: en_US.UTF-8
      LC_ALL: en_US.UTF-8
    devices:
      - /dev/ttyACM0:/dev/ttyACM0
    networks:
      wsn-bridge:
        aliases:
        - oh

  influxdb:
    image: influxdb:1.8
    container_name: influxdb
    restart: always
    volumes:
      - data_influxdb:/var/lib/influxdb
      - data_influxdb_config:/etc/influxdb
    ports:
      - ${INFLUXDB_DB_PORT}:8086
    environment:
      - INFLUXDB_DATA_ENGINE=tsm1
      - INFLUXDB_REPORTING_DISABLED=false
      - INFLUXDB_ADMIN_USER=${INFLUXDB_ADMIN_USER}
      - INFLUXDB_ADMIN_PASSWORD=${INFLUXDB_ADMIN_PASSWORD}
      - INFLUXDB_USER=${INFLUXDB_USER}
      - INFLUXDB_USER_PASSWORD=${INFLUXDB_USER_PASSWORD}
      - INFLUXDB_READ_USER=${INFLUXDB_READ_USER}
      - INFLUXDB_READ_USER_PASSWORD=${INFLUXDB_READ_USER_PASSWORD}
      - INFLUXDB_DB=${INFLUXDB_OPENHAB_DB}
      - TZ=${TZ}
    networks:
      wsn-bridge:
        aliases:
        - db

  data-app:
    build:
      context: .
      dockerfile: data_app/Dockerfile
    container_name: app
    restart: always
    ports:
      - 5000:5000
    networks:
      wsn-bridge:
        aliases:
          - app

  openhab-exporter:
    build:
      context: .
      dockerfile: openhab_exporter/Dockerfile
    container_name: openhab-exporter
    restart: always
    environment:
      OPENHAB_BASE_URL: ${OPENHAB_BASE_URL}
      OPENHAB_API_TOKEN: ${OPENHAB_API_TOKEN}
      OPENHAB_USERNAME: ${OPENHAB_USERNAME}
      OPENHAB_PASSWORD: ${OPENHAB_PASSWORD}
      EXPORTER_TARGET_URL: ${EXPORTER_TARGET_URL}
      EXPORTER_API_KEY: ${EXPORTER_API_KEY}
      EXPORTER_INTERVAL_SECONDS: ${EXPORTER_INTERVAL_SECONDS}
      EXPORTER_HTTP_TIMEOUT_SECONDS: ${EXPORTER_HTTP_TIMEOUT_SECONDS}
      EXPORTER_MAX_RETRIES: ${EXPORTER_MAX_RETRIES}
      SITE_ID: ${SITE_ID}
      SITE_ID_FILE: /data/site/ID
      OPENHAB_HTTP_TIMEOUT_SECONDS: ${OPENHAB_HTTP_TIMEOUT_SECONDS}
      OPENHAB_PERSISTENCE_SERVICE: ${OPENHAB_PERSISTENCE_SERVICE}
    volumes:
      - ./ID:/data/site/ID:ro
    networks:
      wsn-bridge:
        aliases:
          - exporter

volumes:
  data_openhab_conf:
  data_openhab_addons:
  data_openhab_userdata:
  data_influxdb:
  data_influxdb_config:

networks:
  wsn-bridge:
    driver: bridge